a:link{
    color:hotpink;
    text-decoration: underline;
}
a:visited{
    color: orangered;    text-decoration: dotted;
} 

a:hover{
    color: red;
    text-decoration: underline;
}
a:active{
    color: blue;
    text-decoration: none;
}
